bot-whatsapp-v3.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f664a8a-22e5-48b8-aa8e-f199673c31ad",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        944
      ],
      "id": "5747b950-0e82-4a0c-b841-0944a7f70f03",
      "name": "Webhook",
      "webhookId": "1f664a8a-22e5-48b8-aa8e-f199673c31ad"
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json;\nconst body = (raw.body \\!== undefined) ? raw.body : raw;\nconst entry   = body.entry   && body.entry[0];\nconst change  = entry        && entry.changes && entry.changes[0];\nconst value   = change       && change.value;\nconst message = value        && value.messages && value.messages[0];\nif (\\!message || message.type \\!== 'text') {\n  return [{ json: { skip: true } }];\n}\nreturn [{ json: {\n  from:          message.from,\n  text:          message.text.body,\n  messageId:     message.id,\n  timestamp:     message.timestamp,\n  phoneNumberId: value.metadata.phone_number_id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        944
      ],
      "id": "03c34537-61f9-41fc-a802-ae8bb0164b23",
      "name": "Extraer datos del mensaje"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ \"wa:jwt:\" + $json.from }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        944
      ],
      "id": "e82917e3-1742-4fb7-a25d-135cb05d21fb",
      "name": "Verificar  sesion JWT",
      "credentials": {
        "redis": {
          "id": "nXNVfCrXT8nXd3zZ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-jwt-001",
              "leftValue": "={{ $json.value || $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        944
      ],
      "id": "2bd2b107-60cf-4d8b-8688-c7d34c4026f1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ \"wa:hist:\" + $('Extraer datos del mensaje').first().json.from }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        752
      ],
      "id": "f0edbf27-ca11-4c17-ae59-3fccbe16292d",
      "name": "Cargar  historial  de conversacion",
      "credentials": {
        "redis": {
          "id": "nXNVfCrXT8nXd3zZ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jwt    = $('Verificar  sesion JWT').first().json.value\n            || $('Verificar  sesion JWT').first().json.propertyName;\nconst from   = $('Extraer datos del mensaje').first().json.from;\nconst mensaje = $('Extraer datos del mensaje').first().json.text;\nreturn [{ json: { jwt, from, mensaje } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        752
      ],
      "id": "aa00bb11-cc22-dd33-ee44-ff5566778899",
      "name": "Preparar Sesion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-cred-001",
              "leftValue": "={{ $('Extraer datos del mensaje').item.json.text }}",
              "rightValue": " / ",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        1136
      ],
      "id": "bcb6f58a-d590-417a-8ec2-917808771cc8",
      "name": "¿El mensaje es  un credencial?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://inkjet-planning-titles-activity.trycloudflare.com/api/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"login\": \"{{ $('Extraer datos del mensaje').first().json.text.split(' / ')[0].trim() }}\", \"password\": \"{{ $('Extraer datos del mensaje').first().json.text.split(' / ')[1].trim() }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        1040
      ],
      "id": "b8c7e943-ae05-4b14-b7ac-153e8694797f",
      "name": "Autenticar aprendiz",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-login-001",
              "leftValue": "={{ $json.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        1040
      ],
      "id": "6576a4ad-bd74-4314-b8db-dd73758da5c6",
      "name": "¿Login exitoso?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"wa:jwt:\" + $('Extraer datos del mensaje').first().json.from }}",
        "value": "={{ $json.token }}",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1680,
        944
      ],
      "id": "6811d2ad-19ce-4916-a2d7-31f26b8b71ac",
      "name": "Guardar JWT con TTL",
      "credentials": {
        "redis": {
          "id": "nXNVfCrXT8nXd3zZ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ \"wa:pending:\" + $('Extraer datos del mensaje').first().json.from }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1904,
        944
      ],
      "id": "1d62628e-f250-4096-a72d-5c70910dcde4",
      "name": "Recuperar intencion pendiente",
      "credentials": {
        "redis": {
          "id": "nXNVfCrXT8nXd3zZ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jwt   = $('Autenticar aprendiz').first().json.token;\nconst from  = $('Extraer datos del mensaje').first().json.from;\nconst text  = $('Extraer datos del mensaje').first().json.text;\nconst pend  = $input.first().json.propertyName || null;\nconst mensaje = (pend && pend \\!== 'null' && pend.trim() \\!== '') ? pend : text;\nreturn [{ json: { jwt, from, mensaje } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        944
      ],
      "id": "bb11cc22-dd33-ee44-ff55-aa6677889900",
      "name": "Preparar Login"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1005758815954700",
        "recipientPhoneNumber": "={{ $('Extraer datos del mensaje').first().json.from }}",
        "textBody": "❌ Usuario o contraseña incorrectos.\n\nIntenta de nuevo:\n*usuario / contraseña*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1680,
        1136
      ],
      "id": "853e2cbf-1360-4e1b-ad1c-e53c010155a1",
      "name": "Send message",
      "credentials": {
        "whatsAppApi": {
          "id": "PImJsBxI0pO6Rxvb",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"wa:pending:\" + $('Extraer datos del mensaje').first().json.from }}",
        "value": "={{ $('Extraer datos del mensaje').first().json.text }}",
        "expire": true,
        "ttl": 600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1232,
        1232
      ],
      "id": "b058b84e-65ef-4355-b382-d027ea524f90",
      "name": "Guardar intencion pendiente",
      "credentials": {
        "redis": {
          "id": "nXNVfCrXT8nXd3zZ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1005758815954700",
        "recipientPhoneNumber": "={{ $('Extraer datos del mensaje').first().json.from }}",
        "textBody": "👋 Hola\\! Para continuar necesito verificar tu identidad.\n\nEscribe tu usuario y contraseña así:\n*usuario / contraseña*\n\nEjemplo:\njuan@sena.edu.co / miClave123",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1456,
        1232
      ],
      "id": "00f36423-5c3c-4983-8f38-59010d1028c9",
      "name": "Pedir credenciales",
      "credentials": {
        "whatsAppApi": {
          "id": "PImJsBxI0pO6Rxvb",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "Eres un asistente académico del sistema de formación SENA. Hablas en español, de forma cercana pero respetuosa. Usas emojis con moderación.\n\nHERRAMIENTAS DISPONIBLES:\n- consultar_matricula: cuando el aprendiz pregunte por matrícula, inscripción, estado académico, programa o periodo\n- consultar_empresa: cuando pregunte por empresa de práctica, NIT, dirección o instructor asignado\n- consultar_seguimiento: cuando pregunte por seguimiento, avance, horas, bitácora u observaciones\n\nREGLAS:\n- No modifiques datos del sistema\n- No respondas temas ajenos al ámbito académico\n- No reveles información de otros aprendices\n- Si piden algo fuera de tu alcance, sugiere contactar al instructor\n- No inventes datos. Si una herramienta falla, avísale al aprendiz\n\nESTILO:\n- Respuestas cortas y claras (máx 3-4 oraciones)\n- Saluda antes de preguntar qué necesita (primera interacción)\n- Si la pregunta es ambigua, pide aclaración antes de consultar",
          "maxIterations": 5,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2400,
        752
      ],
      "id": "agent-sesion-0001",
      "name": "AI Agent sesion"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2240,
        952
      ],
      "id": "openai-sesion-0002",
      "name": "OpenAI sesion",
      "credentials": {
        "openAiApi": {
          "id": "v8HgfQ8p2oWC2rDR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Sesion').first().json.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2400,
        952
      ],
      "id": "memory-sesion-0003",
      "name": "Memory sesion"
    },
    {
      "parameters": {
        "toolDescription": "Úsala cuando el aprendiz pregunte por su matrícula, inscripción, estado académico, programa o periodo",
        "url": "https://inkjet-planning-titles-activity.trycloudflare.com/api/matriculas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Sesion').first().json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2560,
        952
      ],
      "id": "tool-mat-sesion-0004",
      "name": "matricula sesion"
    },
    {
      "parameters": {
        "toolDescription": "Úsala cuando el aprendiz pregunte por empresa de práctica, NIT, dirección o instructor asignado",
        "url": "https://oklahoma-submitting-responding-rolling.trycloudflare.com/api2/asignaciones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Sesion').first().json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2720,
        952
      ],
      "id": "tool-emp-sesion-0005",
      "name": "empresa sesion"
    },
    {
      "parameters": {
        "toolDescription": "Úsala cuando el aprendiz pregunte por seguimiento, avance, horas, bitácora u observaciones",
        "url": "https://oklahoma-submitting-responding-rolling.trycloudflare.com/api2/seguimientos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Sesion').first().json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2880,
        952
      ],
      "id": "tool-seg-sesion-0006",
      "name": "seguimiento sesion"
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output;\nconst from    = $('Preparar Sesion').first().json.from;\nconst mensaje = $('Preparar Sesion').first().json.mensaje;\n\nlet prevRaw = '[]';\ntry {\n  const h = $('Cargar  historial  de conversacion').first().json.value;\n  if (h) prevRaw = h;\n} catch(e) {}\n\nlet history = [];\ntry { history = JSON.parse(prevRaw); } catch(e) {}\nhistory.push({ role: 'user',      content: mensaje });\nhistory.push({ role: 'assistant', content: aiOutput });\nconst trimmed = history.slice(-10);\nreturn [{ json: { historyJson: JSON.stringify(trimmed), aiResponse: aiOutput, from } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        752
      ],
      "id": "code-hist-sesion-0007",
      "name": "Guardar historial sesion"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"wa:hist:\" + $json.from }}",
        "value": "={{ $json.historyJson }}",
        "expire": true,
        "ttl": 7200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2880,
        752
      ],
      "id": "redis-hist-sesion-0008",
      "name": "Redis historial sesion",
      "credentials": {
        "redis": {
          "id": "nXNVfCrXT8nXd3zZ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1005758815954700",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.aiResponse }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3120,
        752
      ],
      "id": "wa-sesion-0009",
      "name": "Enviar WA sesion",
      "credentials": {
        "whatsAppApi": {
          "id": "PImJsBxI0pO6Rxvb",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "Eres un asistente académico del sistema de formación SENA. Hablas en español, de forma cercana pero respetuosa. Usas emojis con moderación.\n\nHERRAMIENTAS DISPONIBLES:\n- consultar_matricula: cuando el aprendiz pregunte por matrícula, inscripción, estado académico, programa o periodo\n- consultar_empresa: cuando pregunte por empresa de práctica, NIT, dirección o instructor asignado\n- consultar_seguimiento: cuando pregunte por seguimiento, avance, horas, bitácora u observaciones\n\nREGLAS:\n- No modifiques datos del sistema\n- No respondas temas ajenos al ámbito académico\n- No reveles información de otros aprendices\n- Si piden algo fuera de tu alcance, sugiere contactar al instructor\n- No inventes datos. Si una herramienta falla, avísale al aprendiz\n\nESTILO:\n- Respuestas cortas y claras (máx 3-4 oraciones)\n- Saluda antes de preguntar qué necesita (primera interacción)\n- Si la pregunta es ambigua, pide aclaración antes de consultar",
          "maxIterations": 5,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2400,
        944
      ],
      "id": "agent-login-0001",
      "name": "AI Agent login"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2240,
        1144
      ],
      "id": "openai-login-0002",
      "name": "OpenAI login",
      "credentials": {
        "openAiApi": {
          "id": "v8HgfQ8p2oWC2rDR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Login').first().json.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2400,
        1144
      ],
      "id": "memory-login-0003",
      "name": "Memory login"
    },
    {
      "parameters": {
        "toolDescription": "Úsala cuando el aprendiz pregunte por su matrícula, inscripción, estado académico, programa o periodo",
        "url": "https://inkjet-planning-titles-activity.trycloudflare.com/api/matriculas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Login').first().json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2560,
        1144
      ],
      "id": "tool-mat-login-0004",
      "name": "matricula login"
    },
    {
      "parameters": {
        "toolDescription": "Úsala cuando el aprendiz pregunte por empresa de práctica, NIT, dirección o instructor asignado",
        "url": "https://oklahoma-submitting-responding-rolling.trycloudflare.com/api2/asignaciones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Login').first().json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2720,
        1144
      ],
      "id": "tool-emp-login-0005",
      "name": "empresa login"
    },
    {
      "parameters": {
        "toolDescription": "Úsala cuando el aprendiz pregunte por seguimiento, avance, horas, bitácora u observaciones",
        "url": "https://oklahoma-submitting-responding-rolling.trycloudflare.com/api2/seguimientos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Login').first().json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2880,
        1144
      ],
      "id": "tool-seg-login-0006",
      "name": "seguimiento login"
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output;\nconst from    = $('Preparar Login').first().json.from;\nconst mensaje = $('Preparar Login').first().json.mensaje;\n\nconst history = [\n  { role: 'user',      content: mensaje },\n  { role: 'assistant', content: aiOutput }\n];\nreturn [{ json: { historyJson: JSON.stringify(history), aiResponse: aiOutput, from } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        944
      ],
      "id": "code-hist-login-0007",
      "name": "Guardar historial login"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"wa:hist:\" + $json.from }}",
        "value": "={{ $json.historyJson }}",
        "expire": true,
        "ttl": 7200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2880,
        944
      ],
      "id": "redis-hist-login-0008",
      "name": "Redis historial login",
      "credentials": {
        "redis": {
          "id": "nXNVfCrXT8nXd3zZ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1005758815954700",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.aiResponse }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3120,
        944
      ],
      "id": "wa-login-0009",
      "name": "Enviar WA login",
      "credentials": {
        "whatsAppApi": {
          "id": "PImJsBxI0pO6Rxvb",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extraer datos del mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos del mensaje": {
      "main": [
        [
          {
            "node": "Verificar  sesion JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar  sesion JWT": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cargar  historial  de conversacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿El mensaje es  un credencial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar  historial  de conversacion": {
      "main": [
        [
          {
            "node": "Preparar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿El mensaje es  un credencial?": {
      "main": [
        [
          {
            "node": "Autenticar aprendiz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar intencion pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticar aprendiz": {
      "main": [
        [
          {
            "node": "¿Login exitoso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Login exitoso?": {
      "main": [
        [
          {
            "node": "Guardar JWT con TTL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar JWT con TTL": {
      "main": [
        [
          {
            "node": "Recuperar intencion pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar intencion pendiente": {
      "main": [
        [
          {
            "node": "Preparar Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar intencion pendiente": {
      "main": [
        [
          {
            "node": "Pedir credenciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Sesion": {
      "main": [
        [
          {
            "node": "AI Agent sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent sesion": {
      "main": [
        [
          {
            "node": "Guardar historial sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar historial sesion": {
      "main": [
        [
          {
            "node": "Redis historial sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis historial sesion": {
      "main": [
        [
          {
            "node": "Enviar WA sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI sesion": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent sesion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory sesion": {
      "ai_memory": [
        [
          {
            "node": "AI Agent sesion",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "matricula sesion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent sesion",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "empresa sesion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent sesion",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "seguimiento sesion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent sesion",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Login": {
      "main": [
        [
          {
            "node": "AI Agent login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent login": {
      "main": [
        [
          {
            "node": "Guardar historial login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar historial login": {
      "main": [
        [
          {
            "node": "Redis historial login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis historial login": {
      "main": [
        [
          {
            "node": "Enviar WA login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI login": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent login",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory login": {
      "ai_memory": [
        [
          {
            "node": "AI Agent login",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "matricula login": {
      "ai_tool": [
        [
          {
            "node": "AI Agent login",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "empresa login": {
      "ai_tool": [
        [
          {
            "node": "AI Agent login",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "seguimiento login": {
      "ai_tool": [
        [
          {
            "node": "AI Agent login",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2304d7d76228d43453242ce64d5d70e6cdc966aaa6552fd68a0120c660c31917"
  }
}